@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Roboto:wght@100;300;400;500;700;900&family=Rowdies:wght@300;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
    --vilo_verde: #8CB24C;
    --vilo_violeta: #772C7F;
    --vilo_celeste: #009DE1;
    --texto_autor: #818181;
    --texto_informacion: #494E51;
}

main{
    margin-top: 111px;
}

/*---------------- NavBar ----------------------*/

.topLine{
    height: 40px;
    width: 100%;
    color: rgba(255, 255, 255, 0.829);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    box-sizing: border-box;
    font-weight: 500;
    background: black;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.topLine ul{
    background: black;
    position: fixed;
    width: 80%;
    display: flex;
    align-items: center;
}

.topLine ul li{
    margin-right: 25px;
    list-style: none;
    font-size:0.85rem
}

.topLine ul li a {
    color: white;
    text-decoration: none;
}


.topLine ul li:nth-child(n+4){
    float: right;
}

.redes{
    position: absolute;
    display: flex;
    right: 0px;
}

.icon{
    width: 15px;
    filter: invert(1);
}

.icon:hover{
    cursor: pointer;
}

.navBar{
    top: 40px;
    position: fixed;
    padding: 0;
    width: 100%;
    margin:0 auto;
    height: 70px;
    background:white;
    display: flex;
    align-items: center;
    z-index: 9999;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.navBar ul{
    background: white;
}

.navBar li{
    list-style: none;
    margin: 0 20px;
}

.navBar li a{
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.navBar li a:hover{
    border-bottom: 1px solid black;
}

.navBar div{
    margin: 0 5vw 0 10vw;
}

#LOGO{
    aspect-ratio: 1;
    height: 70px;
}

#hamburger{
    display: none;
}

/*---------------- Fin NavBar ----------------------*/

/*---------------- Landing Page --------------------*/

.landingContainer{
    border-bottom: 1px solid rgba(0, 0, 0, 0.116);
    padding: 75px 10%;
    width: 80%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
    color: white;
    height: 500px;
}

.ultimaNoticiaContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 850px;
    height: 500px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

}

.ultimaNoticiaContainer a,  .ultimaNoticiaImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.ultimaNoticiaContainer p{
    position: absolute;
    left: 50px;
    bottom: 100px;
    min-width: 80%;
    height: 80px;
    text-decoration: none;
}

.ultimaNoticiaContainer a{
    text-decoration: none;
}

.ultimaNoticiaContainer a h2{
    left: 50px;
    bottom: 100px;
    height: auto;
    margin: 15px 0;
    z-index: 2;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0 10px;
}


.ultimaNoticiaContainer .searchTag{
    position: absolute;
    left: 50px;
    bottom: 160px;
    text-transform: uppercase;
}

.ultimaNoticiaContainer .fecha{
    text-transform: lowercase;
    color: var(--texto_autor);
    font-weight: 300;
}

.otrasNoticiasContainer{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
    width: 375px; /* 400-25px por el Gap en landingContainer */
    height: 500px;
}

.otrasNoticiasContainer h1{
    display: none;
    color: black;
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 600;
}

/*---- Categorias en Landing ----*/


.categoriasContainerDoble{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 25px 10% 50px 10%;
    min-height: 600px;
    height: auto;
    gap:  25px;
}

.categoriasContainerDoble section{
    border-bottom: 2px solid rgba(0, 0, 0, 0.082);
    display: flex;
    flex-direction: column-reverse;
}

.categoriasContainerDoble section div{
    margin-bottom: 25px;
    width: 100%;
    height: 150px;
}

.subtituloCategorias{
    margin-top: 25px;
    font-weight: 900;
    font-size: 20px;
    margin-left: 10%;
}

.noticiaCategorias{
    width: 100%;
    display: flex;
    gap: 25px;
    font-size: 0.75rem;
    height: 250px;
    white-space: pre-wrap;
    overflow-y: hidden;
    align-items: center;
    box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.1);
}

.noticiaCategorias img{
    width: 150px;
    aspect-ratio: 1;
    object-fit: cover;
}

.noticiaCategorias .previewNoticia{
    margin: 0;
}

.noticiaCategorias a{
    text-decoration: none;
    color: black;
}

.noticiaCategorias .tituloMediano{
    font-size: 20px;
}

.noticiaCategorias .fecha{
    margin: 10px 0;
    font-size: 1rem;
    color: var(--texto_autor);
    font-weight: 400;
}

/*---- Fin Categorias en Landing ----*/

.noticiaPequeña{
    width: 100%;
    display: flex;
    gap: 25px;
    font-size: 0.75rem;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.noticiaPequeña .fecha{
    display: none;
    font-weight: 300;
    color: var(--texto_autor);
}

.noticiaPequeña img{
    width: 100px;
    aspect-ratio: 1;
}

.noticiaPequeña a{
    text-decoration: none;
    color: black;
}

.previewNoticia{
    display: flex;
    flex-direction: column;
    height: inherit;
    align-items: flex-start;
    width: 75%;
}

.previewNoticia p{
    width: 100%;
}

#editIcon{
    position: absolute;
    top: 145px;
    left: 650px;
    width: 20px;
    aspect-ratio: 1;
    background: white;
    border: 1px solid black;
}

.searchTag{
    padding: 5px 10px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.searchTag:hover{
    cursor: pointer;
    filter: brightness(90%);
}

.DeportesTag{
    background: var(--vilo_verde);
}

.MedioAmbienteTag{
    background: var(--vilo_verde);
}

.PoliticaTag{
    background: var(--vilo_violeta);
}

.SociedadTag{
    background: var(--vilo_celeste);
}

.CulturaTag{
    background: var(--vilo_violeta);
}

/*---------------- Fin Landing Page --------------------*/

/*---------------- Zona categorias y noticias medianas ---------------------*/

.noticiasList{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.noticiaMediana{
    width: 60%;
    display: flex;
    gap: 25px;
    font-size: 0.75rem;
    height: 250px;
    white-space: pre-wrap;
    overflow-y: hidden;
    border-bottom: 0.25px solid rgba(0, 0, 0, 0.178);
    align-items: center;
}

.noticiaMediana img{
    border-radius: 5px;
    width: 200px;
    aspect-ratio: 1;
}

.noticiaMediana .searchTag{
    margin-top: 20px;
}

.noticiaMediana .tituloMediano{
    font-size: 1.5rem;
}

.noticiaMediana button{
    font-weight: 600;
    font-size: 20px;
    margin-top: 15px;
    height: 30px;
    width: 150px;
    border: none;
    color: black;
    background: none;
    transition: 0.5s;
}

.noticiaMediana button:hover{
    cursor: pointer;
    scale: 1.025;
}

.noticiaMediana .fecha{
    margin: 10px 0;
    font-size: 1rem;
    color: var(--texto_autor);
    font-weight: 400;
}

.noticiaMediana .info{
    font-weight: 400;
    font-size: 1.25rem;
    color: #494E51;
    height: 50px;
    overflow: hidden;
}

.noticiaMediana a{
    text-decoration: none;
    color: black;
}

/*---------------- Fin categorias y noticias medianas ---------------------*/

/*---------------- Noticia en detalle -------------------------------------*/
.noticiaContainer{
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
}

.noticiaDetalle{
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    white-space: pre-wrap;
    margin-bottom: 50px;
}

.noticiaDetalle h1{
    align-self: center;
    position: absolute;
    top: 200px;
    font-size: 2.5rem;
    font-weight: 400;
    color: white;
    font-family: 'Rowdies', cursive;
    letter-spacing: 2px;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0 10px;
}

.noticiaDetalle a .searchTag{
    margin: 0px;
    position: absolute;
    top: 160px;    
    transform:translateX(-50%);
}

.noticiaDetalle .fecha{
    top: 270px;
    position: absolute;
    color: white;
    font-size: 1rem;
    text-shadow: rgba(0, 0, 0, 1) 0px 0 10px;
    font-weight: 300;
    padding: 5px 30px;
    border: 1px solid white;
    background: rgba(2, 2, 2, 0.2);
}

.noticiaDetalle .imagenPrincipal{
    margin-bottom: 30px;
    width: 100%;
    height: 450px;
    object-fit:cover;
}

.noticiaDetalle p img{
    max-width: 100%;
    margin: 25px 0;
}

.noticiaDetalle h2, .noticiaDetalle h3{
    margin: 10px 25% 0 25%;
    width: 50%;
}

.noticiaDetalle .searchTag, .noticiaDetalle .fecha{
    width: auto;
}

.noticiaDetalle ul{
    margin: 10px 25% 0 25%;
    width: 50%;
}

.noticiaDetalle ul li{
    margin-left: 50px;
}

.noticiaDetalle p{
    margin: 10px 25% 0 25%;
    max-width: 1200px;
    font-size: 18px;
    line-height: 30px;
    color: var(--texto_informacion);
    font-weight: 400;
}
/*-----------Fin noticia en detalle ----------------*/

/*--- Subir noticia ---------*/

.editorContainer{
    width: 90%;
    min-height: 90vh;
    margin: 0 5%;
}

.editorContainer button{
    background: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
    float: right;
}

.editorContainer button:hover{
    background: #b8b4b4;
    color: black;
    border: black 1px solid;
    transition: 0.2s;
    cursor: pointer;
}

.editorContainer label{
    font-size: 18px;
    margin: 5px;
}

.editorContainer select{
    width: 250px;
    margin-left: 15px;
    font-size: 16px;
    padding: 5px 0;
    text-align: center;
}

.quill {
    margin: 15px 0 30px 0;
}

.quill .ql-toolbar{
    width: 100%;
    display: flex;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    justify-content: center;
}

.quill .ql-editor{
    line-height: 27px;
    font-size: 16px;
    width: 100%;
    height: 60vh;
    margin: 25px 0 25px 0;
    background-color: #f3f3f3;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
}

.quill .ql-container.ql-snow {
    border: none;
}

.form{
    overflow-y: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.form input{
    font-size: 1.5rem;
    border: none;
    text-align: center;
    width: 75%;
}


/*--- Fin subir noticia ---------*/

/*---- Login ----*/

.login{
    margin-top: 200px;
}

/*------------ Media queries ---------------*/


@media (max-width: 1450px) {
    /*----Landing----*/

    .ultimaNoticiaContainer{
        width: 650px;
    }
    .noticiaMediana{
        width: 70%;
    }
}

@media (max-width: 1200px) {

    /*----Landing----*/

    .ultimaNoticiaContainer{
        width: 600px;
    }

    /*----Detalle----*/

    .noticiaDetalle p{
        line-height: 27px;
        font-size: 16px;
        margin: 10px 15% 0 15%;
    }

    .noticiaDetalle h2, .noticiaDetalle h3{
        margin: 10px 15% 0 15%;
        width: 70%;
    }
    
    .noticiaDetalle ul{
        margin: 10px 15% 0 15%;
        width: 70%;
    }

    .noticiaDetalle p img{
        max-width: 100%;
        margin: 25px 0;
    }

    /*---- Zona categorias ----*/

    .noticiaMediana{
        width: 80%;
    }

    .noticiaMediana .previewNoticia{
        width: 60%;
    }

}

@media (max-width: 1050px) {
    
    /*----Landing----*/

    .landingContainer{
        display: flex;
        flex-direction: column;
        height: auto;
        min-height: 1200px;
        background: none;
    }

    .ultimaNoticiaContainer{
        width: 100%;
        height: 500px;
        box-shadow: 0px 10px 10px 6px rgba(0,0,0,0.1);
    }

    .otrasNoticiasContainer{
        width: 100%;
        flex-direction: column;
    }

    .noticiaPequeña{
        margin-bottom: 25px;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    }

    .noticiaPequeña .fecha{
        margin-top: 7.5px;
        display: block;
    }

    .noticiaPequeña h2{
        color: black;
        font-weight: 500;
    }

    .noticiaPequeña .searchTag{
        color: white;
    }

    .noticiaPequeña img{
        width: 150px;
    }

    /*---- Categorias Landing ----*/

    .categoriasContainerDoble section div .tituloMediano{
        font-size: 16px;
    }
}

@media (max-width: 950px) {

    /*----Landing----*/

    .landingContainer{
        padding-top: 20px;
    }

    .otrasNoticiasContainer h1{
        display: block;
    }
    /*---- Categorias Landing ----*/

    .categoriasContainerDoble .noticiaCategorias{
        flex-direction: column;
        height: 525px;
    }

    .categoriasContainerDoble img{
        width: 100%;
        object-fit:cover;
    }

    .categoriasContainerDoble .previewNoticia{
        width: 95%;
        margin: 0 2.5%;
    }

    /*----TopLine----*/

    .topLine{
        border-bottom: 1px solid white;
    }

    .topLine ul li{
        display: none;
    }

    .topLine ul div li{
        display: block;
    }

    .topLine .redes{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .topLine .redes img{
        width: 25px;
    }

    /*----NavBar----*/
    .navBar{
        margin-top: 40px;
        flex-direction: column;
        background: rgb(0, 0, 0);
        z-index: 5;
        position: fixed;
        min-height: 50px;
        height: auto;
        top: 0;
        color: white;
    }
    .navBar img{
        display: none;
    }
    .navBar li{
        margin:5px 0;
    }
    .navBar li a{
        color: white;
    }

    .navBar label{
        margin-top: 7.5px;
        cursor: pointer;
    }

    .hamburger_button span{
        display: block;
        margin: 5px auto;
        width: 27.5px;
        height: 5px;
        background: var(--text_and_details);
        border-radius: 100px;
        background: white;
    }

    #hamburger:checked ~ .hamburger_button{
        transition: 0.5s;
        transform: rotate(180deg);
    }

    .navBar .item{
        display: none;
    }

    /*----Categorias----*/
    .noticiaMediana{
        width: 85%;
    }
    
    /*--------Detalle-------*/

    .noticiaDetalle h1{
        top: 200px;
        font-size: 2rem;
        max-width: 80%;
        margin: 0 10%;
        letter-spacing: 2px;
    }

    .noticiaDetalle .imagenPrincipal{
        width: 100%;
    }

    .noticiaDetalle img{
        margin-bottom: 25px;
    }
    
    .noticiaDetalle p{
        line-height: 27px;
        font-size: 16px;
        margin: 10px 15% 0 15%;
    }
}

@media (max-width: 825px) {

    .categoriasContainerDoble .noticiaCategorias{
        flex-direction: column;
        height: 470px;
    }

}

@media (max-width: 700px) {
    /*----Landing----*/

    .landingContainer{
        width: auto;
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 25px 5% 75px 5%;
    }

    /*---- Categorias Landing  ----*/
    
    .subtituloCategorias{
        margin-left: 5%;
    }

    .categoriasContainerDoble{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0;
        padding: 15px 5% 0 5%;
    }

    .categoriasContainerDoble .noticiaCategorias{
        flex-direction: row;
        height: auto;
        font-size: 16px;
    }

    .categoriasContainerDoble .noticiaCategorias img{
        width: 150px;
        aspect-ratio: 1;
    }

    /*---- Ultima Noticia ----*/

    .ultimaNoticiaContainer p, .ultimaNoticiaContainer .searchTag{
        left: 20px;
    }

    .ultimaNoticiaContainer p{
        max-width: 75%;
    }

    /*--------Detalle-------*/

    .noticiaDetalle h1{
        top: 200px;
        font-size: 1.5rem;
        max-width: 80%;
        margin: 0 10%;
        letter-spacing: 2px;
    }

    .noticiaDetalle .imagenPrincipal{
        width: 100%;
    }
    .noticiaDetalle p{
        line-height: 27px;
        font-size: 16px;
        margin: 10px 7.5% 0 7.5%;
    }
    .noticiaDetalle h2, .noticiaDetalle h3{
        margin: 10px 7.5% 0 7.5%;
        width: 85%;
    }
    
    .noticiaDetalle ul{
        margin: 10px 7.5% 0 7.5%;
        width: 85%;
    }

    /*---- Categorias ----*/

    .noticiaMediana{
        flex-direction: column;
        height: auto;
        overflow-x: hidden;
        margin-bottom: 25px;
    }
    .noticiaMediana img{
        width: 575px;
        height: 400px;
        object-fit: cover;
    }

    .noticiaMediana .previewNoticia{
        width: 100%;
    }

    .noticiaMediana .searchTag{
        margin-top: 0;
    }
}

@media (max-width: 450px)
{
    /*----Landing----*/

    .landingContainer{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 95%;
        padding: 0px 2.5% 25px 2.5%;
    }

    .ultimaNoticiaContainer{
        height: 400px;
    }

    .ultimaNoticiaContainer h2, .ultimaNoticiaContainer h3{
        left: 20px;
    }

    /*---- Categorias Landing ----*/

    .subtituloCategorias{
        margin-left: 2.5%;
    }

    .categoriasContainerDoble{
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 0;
        padding: 15px 2.5% 0 2.5%;
    }

    /*--------Detalle-------*/

    .noticiaDetalle h1{
        top: 200px;
        font-size: 20px;
        max-width: 90%;
        margin: 0 5%;
        letter-spacing: 2px;
    }

    .noticiaDetalle h3{
        margin-bottom: 10px;
    }

    .noticiaDetalle img{
        margin: 0;
    }

    .noticiaDetalle .imagenPrincipal{
        margin-bottom: 50px;
        width: 100%;
    }

    .noticiaDetalle p{
        line-height: 27px;
        font-size: 16px;
        margin: 0px 7.5% 25px 7.5%;
    }

    /*---- Categorias ----*/

    .noticiaMediana, .previewNoticia{
        width: 95%;
    }
}